---
- name: Simple Ansible Playbook
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Get all templates from AAP
      awx.awx.export:
        job_templates: 'all'
      register: aap_templates

    - debug:
        var: aap_templates.assets.job_templates[0].execution_environment

    - set_fact:
        ee: ""

    - name: Create templates
      awx.awx.job_template:
        name: "{{ aap_templates.assets.job_templates[0].name }}"
        execution_environment: "{{ ee }}"
